*, *::before, *::after {
    box-sizing: border-box;
    }
    * {
    margin: 0;
    }
    html, body {
    height: 100%;
    overflow: hidden;
    }
    body {
    line-height: 1.5;
    }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

    input, button, textarea, select {
    font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    button {
        width: 50px;
        height: 30px;
        background: hsl(245, 79%, 56%);
        border: none;
        color: #fff;
    }
    
    img {
        min-width: 500px;
        min-height: 200px;
        outline: none;
        border: none;
    }

    button:hover {
        background: #fff;
        color: hsl(245, 79%, 56%);
        border: 1px solid hsl(245, 79%, 56%);
    }